# build
bin/
obj/

# visual studio
.vs/
.vscode/
*.user
*.suo

# secrets/config
appsettings*.json

# logs/db
*.log
*.db
*.sqlite

# certs/secrets
*.pfx
*.key
*.pem
*.cer
*.publishsettings

# dependencies
node_modules/

# OS
.DS_Store
Thumbs.db